body{
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    .header-follow{
        margin-bottom: 60px;
        h2{
            margin-bottom: 20px;
            span{
                color: $flatColor1;
            }
        }
        p{
            color: $flat555;
        }
    }
    .overlay{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}