.timer{
    background: url('../images/timer.jpg') no-repeat center center fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 90px;
    .overlay{
        background-color: rgba(0, 0, 0, .7);
    }
    .timer-show{
        div{
            i{
                font-size: 30px;
                color: $flatColor1;
                margin-bottom: 20px !important;
            }
            span{
                font-size: 30px;
                color: $flatFFF;
                letter-spacing: 3px;
            }
            h5{
                color: $flatFFF;
                font-size: 14px;
                margin-top: 20px;
                letter-spacing: 2px;
            }
        }
    }
}