.footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $flat222;
    .social-footer{
        i{
            margin-right: 35px;
            font-size: 25px;
            color: $flatFFF;
            transition: $transition;
            cursor: pointer;
            &:last-of-type{
                margin-right: 0;
            }
            &:hover{
                color: $flatColor1;
            }
        }
    }
}
footer{
    background-color: #2D2D2D;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #CCC;
    .last-block-page{
        font-size: 13px;
        span:first-of-type{
            span{
                background-color: $flatColor1;
                padding: 11px 15px;
                margin-left: 10px;
                border-radius: 50%;
            }
        }
    }
}