.info{
    padding-top: 100px;
    .info-last-content{
        margin-bottom: 100px;
        @media (max-width: 767px) {
            margin-bottom: 20px;;
        }
        div{
            padding-right: 10px;
            padding-left: 10px;
            i{
                color: $flatColor1;
                font-size: 40px;
                margin-bottom: 15px;
            }
            h5{
                color: $flat333;
                margin-bottom: 20px;
            }
            p{
                font-weight: 300;
                font-size: 16px;
                color: $flat555;
            }
        }
        &.adress-content{
            padding-top: 100px;
            padding-bottom: 100px;
            margin-bottom: 0;
            @media (max-width: 767px) {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
    .container-fluid{
        padding: 0;
        .google-map{
            min-height: 500px;
            iframe{
                width: 100%;
                height: 100%;
                border: none;
            }
        }
    }
}