.scheudels{
    background-color: $flatEEE;
    padding-top: 100px;
    padding-bottom: 100px;
    .btns-parent{
        margin-bottom: 40px;
        div{
            div{
                ul{
                    border: 1px solid $flatColor1;
                    overflow: hidden;
                    margin: 0;
                    border-radius: 60px;
                    li{
                        padding: 12px 30px;
                        border: 1px solid $flatEEE;
                        cursor: pointer;
                        transition: $transition;
                        border-right: 1px solid $flatColor1;
                        border-left: 1px solid $flatColor1;
                        h5{
                            font-size: 25px;
                            margin-bottom: 3px;
                            span{
                                font-size: inherit;
                                display: inline-block;
                                color: $flatColor1;
                            }
                        }
                        span{
                            font-size: 11px;
                            display: block;
                            color: #7e897e;
                        }
                        &.active{
                            background-color: $flatColor1;
                            color: $flatFFF !important;
                            h5{
                                color: inherit;
                                span{
                                    color: inherit;
                                }
                            }
                            span{
                                color: inherit;
                            }
                        }
                        &:first-of-type{
                            border-top-left-radius: 60px;
                            border-bottom-left-radius: 60px;
                            border-left: 1px solid $flatEEE;
                        }
                        &:last-of-type{
                            border-top-right-radius: 60px;
                            border-bottom-right-radius: 60px;
                            border-right: 1px solid $flatEEE;
                        }
                        &:not(.active):hover{
                            background-color: $flatDDD;
                        }
                    }
                }
            }
        }
    }
    .parent-divs{
        padding-top: 25px;
        padding-bottom: 25px;
        border-top: 2px solid $flatDDD;
        display: none;
        transition: $transition;
        .time-scheu{
            color: #726b6b;
        }
        .image-scheu{
            position: relative;
            border-radius: 50%;
            cursor: pointer;
            .overlay{
                position: absolute;
                top: -140px;
                background-color: rgba(238, 238, 238, .8);
                color: $flatColor1;
                font-size: 15px;
                transition: 1s;
                border-radius: 50%;
                display: none;
                ul{
                    position: relative;
                    top: 50%;
                    margin-top: -11px;
                    li{
                        i{
                            &:hover{
                                color: $flat555;
                            }
                        }
                    }
                }
            }
            &:hover{
                .overlay{
                    top: 0;
                    display: block;
                }
            }
        }
        .header-scheu{
            h6{
                font-size: 15px;
                margin: 0;
            }
            span{
                font-size: 11px;
                color: $flatColor1;
            }
        }
        .info-scheu{
            h4{
                font-size: 22px;
                margin-bottom: 15px;
            }
            p{
                color: $flat555;
                font-size: 15px;
                line-height: 1.7;
            }
        }
        &.stupid{
            border-top: none;
        }
        &:nth-child(odd) {
            background-image: linear-gradient(to right, #EEE, #DDD, #EEE);
        }
        &.active{
            display: block;
        }
    }
}