.sponsors{
    padding-top: 90px;
    padding-bottom: 80px;
    .header-gold-sponsors,
    .header-silver-sponsors{
        margin-bottom: 50px;
        font-size: 20px;
    }
    .header-silver-sponsors{
        margin-top: 50px;
    }
}